/*
* Estilos personalizados 
 */

.actions > .el-button {
  width: 65px !important;
}

.table-item-form {
  border-spacing: 0;
  width: 100%;
  border: 1px solid rgba(100, 100, 100, 0.25);
}

.table-item-form td {
  width: 49%;
}

.table-item-form th,
.table-item-form td {
  text-align: left;
  padding: 1px;
}

.table-item-form tr:nth-child(even) {
  background-color: rgba(100, 100, 100, 0.15);
}

.actions-component {
  margin: 5px 0;
}

.btn-only-icon {
  width: 50px !important;
}
