:root {
    --template-color-main: #506fe4;
    --template-color-primary: #0F3460;
    --el-menu-active-color: #ffffff;
    --el-menu-text-color: #c0c4ca;
    --el-menu-bg-color:#0F3460;
    --el-menu-hover-bg-color: #031B3D;
    --el-color-primary:#2680ED;
    --el-color-success:#46E864;
    --el-color-warning: #EDA726;
    --el-color-danger: #E94560;
}